body {
    font-family: 'Roboto', sans-serif;

    padding-top: 56px; /* Para evitar que el contenido se superponga con la barra de navegación fija */
}

header{
    background-color: transparent;
}

nav a.nav-link {
    cursor: pointer;
}

section {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 60px 0;
    background-color: black;
    color: white; /* Cambia el color del texto a blanco para mejorar la legibilidad */
    padding: 40px 0; /* Añade un poco de espacio arriba y abajo */

}

h3{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}


#presentacion i{
        background-color: DeepSkyBlue;
        height: 40px;
        
      
}





.card{
    background-color: deepskyblue;
}

.card img {
    height: 200px;
    object-fit: cover;
   
}

.btn{
    background-color: deepskyblue;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    
}
footer{
    display: flex;
    justify-content: center;
    background-color: DeepSkyBlue;
   

}

footer h3{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 0px;
    color: #ffffff;
    margin-left: 120px;
    padding-right: 300px;
    
}
footer a {
    color: #ffffff;
    font-size: 24px;
    
}

.social{
    padding-left: 150px;
    
}
hr{
    color: white;
   
}


@media screen and (max-width:400px) {
    footer{
        display:inline-block;
    }
        
footer h3{
    width: 100%;
    margin-left: 105px;
    
}
.social{
    padding-left: 105px;
}
}

@media only screen and (max-width: 600px) and (min-width: 400px)  {
    footer{
        display:inline-block;
    }
        
footer h3{
    width: 100%;
    margin-left: 150px;
    
}
.social{
    padding-left: 150px;
}
}